.design-input,
.design-input-disabled,
.design-input-error
{
  box-sizing: border-box;
  padding: 2px;
  padding-left: 4px;
  min-width: 196px;
  max-width: 296px;
  font-size: 12px;
  border: 2px solid #000000;
  color: #000;
  height: 24px;
}

.design-input {
  background-color: #D9A621;
}

.design-input:focus {
  outline-color:#ABABAB;
  outline-style: solid;
  box-shadow: none;
}

.design-input-disabled {
  background-color: #E2E2E2;
  border: 2px solid #ABABAB;
  cursor:not-allowed;
}

.design-input-error {
  background-color: #DC3030;
}
