.design-button {
  border: 0;
  padding: 16px;
  min-width: 196px;
  max-width: 296px;
  font-size: 16px;

  background-color: #D9A621;
  color: black;
}

.design-button:active {
  background-color: #BCBCBC;
}
