@import '../base.css';

.design-checkbox,
.design-checkbox-disabled,
.design-checkbox-error {
  accent-color: var(--color-primary);
  border-radius: 0px;
  outline: 2px solid var(--color-text);
  appearance: none;
  height: 18px;
  width: 18px;
}

.design-checkbox:checked {
  background-color: var(--color-primary);
}

.design-checkbox-disabled {
  outline: 2px solid var(--color-disabled);
  cursor:not-allowed;
}

.design-checkbox-disabled:checked {
  background-color: var(--color-disabled);
  outline: 2px solid var(--color-disabled-secondary);
}

.design-checkbox-error {
  background-color: var(--color-error);
}

.design-checkbox-error:checked {
  background-color: var(--color-error);
  outline: 2px solid var(--color-error-secondary);
}
